{% load i18n %}
<div class="sequence proctored-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      You have submitted your timed exam.
    {% endblocktrans %}
  </h3>
  <hr>
  <p>
    {% blocktrans %}
      Your grade for this timed exam is currently under review. Please allow 24 hours then check back on your Dashboard. You will see this course in the "Completed Courses" section with a status letting you know if you passed or failed.
    {% endblocktrans %}
    {% if has_due_date %}
      {% blocktrans %}
        After the due date has passed, you can review the exam, but you cannot change your answers.
      {% endblocktrans %}
    {% endif %}
  </p>
</div>
